{
  "action": "extract-features",

  "energy-max-norm": true,

  "corpus":       "corpora/demo_corpus.json",
  "audio-path":   "../../data/audio/",
  "audio-format": "sph",
  "feature-path": "../../data/features/",

  "sample-rate":   16000,
  "window-shift":     10,
  "window-size":      25,
  "dft-length":     1024,
  "n-mel-features":   15,
  "n-features-file":  12,
  "n-features-first": 12,
  "n-features-second": 1,
  "deriv-step":        3,

  "normalization-path": "Normalization.bin" 
}
