{
  "action": "train-nn",
  "verbosity": "noLog",

  "energy-max-norm": true,
  "pooling": "mixture",
  "max-approx": true,
  "write-old-format" : false,
  "write-linear-segmentation": true,
  "realign": true,

  "corpus":       "corpora/corpus_train.json",
  "audio-path":   "../../data/audio/",
  "audio-format": "sph",
  "feature-path": "../../data/features/",

  "sample-rate":    8000,
  "window-shift":     10,
  "window-size":      25,
  "dft-length":     1024,
  "n-mel-features":   15,
  "n-features-file":  12,
  "n-features-first": 12,
  "n-features-second": 1,
  "deriv-step":        3,

  "tdp-loop": 1.0,
  "tdp-forward": 0.0,
  "tdp-skip": 20.0,

  "min-obs":        1,
  "num-splits":     2,
  "num-aligns":     1,
  "num-estimates":  5,
  "num-max-aligns": 1,
  
  "alignment-pruning": true,
  "pruning-threshold":     50.0,

  "mixture-path": "iter-",
  "alignment-path": "alignments/alignment-",
  "training-stats-path": "am_scores.data",
  "normalization-path": "Normalization.bin",
  "target-file": "alignments/alignment-2-0.dump"
}