{
  "action": "train-nn",
  "verbosity": "noLog",

  "energy-max-norm": true,
  "pooling": "mixture",
  "max-approx": true,
  "write-old-format" : false,
  "write-linear-segmentation": true,
  "realign": true,

  "corpus":       "corpora/corpus_train.json",
  "audio-path":   "../../data/audio/",
  "audio-format": "sph",
  "feature-path": "../../data/features/",

  "sample-rate":    8000,
  "window-shift":     10,
  "window-size":      25,
  "dft-length":     1024,
  "n-mel-features":   15,
  "n-features-file":  12,
  "n-features-first": 12,
  "n-features-second": 1,
  "deriv-step":        3,

  "tdp-loop": 20.0,
  "tdp-forward": 0.0,
  "tdp-skip": 20.0,

  "min-obs":        1,
  "num-splits":     1,
  "num-aligns":     1,
  "num-estimates":  1,
  "num-max-aligns": 1,
  
  "alignment-pruning": true,
  "pruning-threshold": 100.0,

  "mixture-path": "iter-",
  "alignment-path": "alignments/alignment-",
  "training-stats-path": "am_scores.data",
  "normalization-path": "Normalization.bin",
  "batch-size": 32,
  "num-epochs": 20,
  "updater": "adadelta",
  
  "layers": [
             { 
             "layer-name": "hidden-layer1",
             "num-outputs" : 50,
             "type" : "feed-forward",
             "nonlinearity": "sigmoid",
             "input": ["data"]
             },
                          { 
             "layer-name": "hidden-layer2",
             "num-outputs" : 50,
             "type" : "feed-forward",
             "nonlinearity": "sigmoid",
             "input": ["hidden-layer1"]
             },
             
             {"layer-name": "output-layer",
             "num-outputs" : 106,
             "type" : "output",
             "input": ["hidden-layer2"]}
  ],
  "target-file": "alignments/alignment-0-0.dump",
  
  "prior-file": "prior.txt",
  "compute-prior-from-alignment": false,
  "model-path": "./models/1/"
}

