data/features/

src/sietill/alignments/
src/sietill/binaries/
src/sietill/config/
src/sietill/corpora/
src/sietill/sietill

.cproject
.project

../nn-training-plotting/*.png
../nn-training-plotting/*.tmp

*~
*.bin
*.dat
*.data
*log
*.mix
*.o
*.png
*.txt
